body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
}

:root {
    --bg-color: black;
    --typewriterSpeed: 4s;
    --typewriterCharacters: 33;
  }
  
  body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
  }
  
  .openSeq h1 {
    color: white;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    animation: moveToTop 1.5s 8s forwards ease-in-out;
  }

  .openSeq span {
    color: darkorange;
  }

  h2{
    opacity: 0;
    animation: 
      fadeIn 2s 6s forwards,
      fadeOut 1.8s 8s forwards;
    color: rgba(255, 255, 255, 0.3);
  }
  
  .openSeq h1::before,
  .openSeq h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .openSeq h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .openSeq h1::after {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    width: 0.5em;
    background: white;
    animation: 
        typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(var(--typewriterCharacters)) infinite,
        fadeOut 600ms 7s forwards;
  }

  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes moveToTop {
      to{
          transform: translateY(-200px);
          opacity: 0;
          display: none;
      }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }

  @media screen and (max-width:500px) {
    .openSeq h1 {
      font-size: 20px;
    }

    .openSeq h1::after {
      width: 0.25em;
    }

    .openSeq h2 {
      font-size: 16px;
    }
  }

  
